{% extends "layouts/default.njk" %}

{% block main_content %}

    <h1 class="govuk-heading-xl">Add, update and cease a person with significant control (PSC)</h1>
    <p class="govuk-body-l">Use this service to update PSC information for limited companies on the Companies House register.</p>
    <p class="govuk-body">In this service, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>add a new PSC</li>
      <li>update an existing PSC's details</li>
      <li>cease a PSC</li>
      <li>add or remove a PSC statement</li>
    </ul>

{% endblock %}