{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block main_content %}

    <h1 class="govuk-heading-xl">Cease a person with significant control (PSC)</h1>
    <p class="govuk-body-l">Use this service to update PSC information for limited companies on the Companies House register.</p>
    <p class="govuk-body">In this service, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>cease a PSC</li>
    </ul>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">You'll need:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>to sign in to or create a Companies House account</li>
        <li>the company number</li>
        <li>the <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" class="govuk-link">company authentication code</a></li>
      </ul>

    </br>
    
    {{ govukButton({
    text: "Start now",
    isStartButton: true
    }) }}

{% endblock %}